<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/daf8c554e7.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body>
    <header class="encabezado">
        <nav class="nav">
            <div class="sublogo">
                <!-- <img src="{{ url_for('static', filename='img/Demon-Slayer-Logo.png') }}" alt="Logo" class="logo"> -->
                <p class="titulo-p">DEMON SLAYER API</>
                <img src="/static/Img/Demon-Slayer-Logo.png" alt="" class="sublogo-img">
            </div>

            <div class="nav-links">
                <a href="#Documentacion" class="nav-link">Documentacion</a>

                <a href="#example">Ejemplo</a>

                <a href="#colaboradores">Colaboradores</a>


                <div class="GitHub">
                    <div class="circle_button">
                        <a href=""><button><i class="fa-brands fa-github"></i></button></a>
                    </div>
                </div>
            </div>
        </nav>

        <section class="fondo">
            <div class="logo">
                <h1 class="titulo">DEMON SLAYER API</h1>
                    <!-- <img src="{{ url_for('static', filename='img/Demon-Slayer-Logo.png') }}" alt="Logo" class="logo"> -->
                <img src="/static/Img/Demon-Slayer-Logo.png" alt="" class="logo-img">
                <!--  -->
            </div>

            <div class="introduccion">
                <p>La API RESTful del increible universo del manga y anime de Kimetsu No Yaiba. Accede a datos de personajes, temporadas, arcos del mundo de Demon Slayer.</p>
            <div>

            
        </section>
        
    </header>
    <main>
        <section class="introcciones">
            <div>
                <h2>Descripcion de la API RESTful</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati dolorem placeat omnis tempore laudantium perspiciatis excepturi sunt tempora quia, laborum blanditiis? Officiis suscipit accusantium odit perferendis iusto fuga ullam possimus!</p>
            </div>

            <div class="grid">
                <!-- Articulo 1 -->
                <article class="article-grid">
                    <div class="divtitle-article">
                        <div class="icono">
                            <i class="fa-solid fa-person"></i>
                        </div>
                        <div class="subtitle-article">
                            <h3>Personajes</h3>
                        </div>
                        <div class="p-article">
                            <p>Mas de 200 personajes a traves del manga y anime.</p>
                        </div>
                    </div>

                    <div class="divsubtitle-article">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia culpa incidunt dolores corporis rerum unde provident consequatur molestias quo eos. Mollitia dignissimos ea assumenda perferendis eveniet explicabo architecto quasi porro?</p>
                    </div>
                </article>

                <!-- Articulo 2 -->
                <article class="article-grid">
                    <div class="divtitle-article">
                        <div class="icono">
                            <i class="fa-solid fa-film"></i>
                        </div>
                        <div class="subtitle-article">
                            <h3>Arcos argumentales</h3>
                        </div>
                        <div class="p-article">
                            <p>El manga de Demon Slayer está compuesto por 12 arcos argumentales</p>
                        </div>
                    </div>

                    <div class="divsubtitle-article">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia culpa incidunt dolores corporis rerum unde provident consequatur molestias quo eos. Mollitia dignissimos ea assumenda perferendis eveniet explicabo architecto quasi porro?</p>
                    </div>
                </article>

                <!-- Articulo 3 -->
                <article class="article-grid">
                    <div class="divtitle-article">
                        <div class="icono">
                            <i class="fa-solid fa-file"></i>
                        </div>
                        <div class="subtitle-article">
                            <h3>Episodios</h3>
                        </div>
                        <div class="p-article">
                            <p>El anime de Demon Slayer tiene un total de 4 temporadas, y a la fecha (septiembre de 2025) cuenta con 58 episodios en total (26 en la T1, 18 en la T2, 11 en la T3, y 3 en la T4, sumando un total de 58 episodios) y la cuarta temporada aún no termina. </p>
                        </div>
                    </div>

                    <div class="divsubtitle-article">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia culpa incidunt dolores corporis rerum unde provident consequatur molestias quo eos. Mollitia dignissimos ea assumenda perferendis eveniet explicabo architecto quasi porro?</p>
                    </div>
                </article>

            </div>
        </section>


    </main>
</body>
</html>