<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/daf8c554e7.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body>
    <header class="encabezado">
        <nav class="nav">
            <div class="sublogo">
                <!-- <img src="{{ url_for('static', filename='img/Demon-Slayer-Logo.png') }}" alt="Logo" class="logo"> -->
                <p class="titulo-p">DEMON SLAYER API</>
                <img src="/static/Img/Demon-Slayer-Logo.png" alt="" class="sublogo-img">
            </div>

            <div class="nav-links">
                <a href="#Documentacion">Documentacion</a>

                <a href="#example">Ejemplo</a>

                <a href="#colaboradores">Colaboradores</a>


                <div class="GitHub">
                    <div class="circle_button">
                        <a href=""><button><i class="fa-brands fa-github"></i></button></a>
                    </div>
                </div>
            </div>
        </nav>

        <section class="fondo">
            <div class="logo">
                <h1 class="titulo">DEMON SLAYER API</h1>
                    <!-- <img src="{{ url_for('static', filename='img/Demon-Slayer-Logo.png') }}" alt="Logo" class="logo"> -->
                <img src="/static/Img/Demon-Slayer-Logo.png" alt="" class="logo-img">
                <!--  -->
            </div>

            <div class="introduccion">
                <p>La API RESTful del increible universo del manga y anime de Kimetsu No Yaiba. Accede a datos de personajes, temporadas, arcos del mundo de Demon Slayer.</p>
            <div>

            
        </section>
        
    </header>
    <main>
        <section class="introcciones">
            <div class="info">
                <h2>Descripcion de la API RESTful</h2>
                <p>Guía de referencia completa para la API de Kimetsu No Yaiba. Accede a personajes, arcos argumentales, episodios del anime e imágenes con puntos de conexión REST sencillos.</p>
            </div>

            <div class="grid">
                <!-- Articulo 1 -->
                <article class="article-grid">
                    <div class="divtitle-article">
                        <div class="icono">
                            <i class="fa-solid fa-person"></i>
                        </div>
                        <div class="subtitle-article">
                            <h3>Personajes</h3>
                        </div>
                        <div class="p-article">
                            <p>Mas de 200 personajes a traves del manga y anime.</p>
                        </div>
                    </div>

                    <div class="divsubtitle-article">
                        <p>Obtenga información detallada sobre cada personaje, incluida su edad, ocupación, frases e imágenes de retratos.</p>
                    </div>
                </article>

                <!-- Articulo 2 -->
                <article class="article-grid">
                    <div class="divtitle-article">
                        <div class="icono">
                            <i class="fa-solid fa-film"></i>
                        </div>
                        <div class="subtitle-article">
                            <h3>Arcos argumentales</h3>
                        </div>
                        <div class="p-article">
                            <p>El manga de Demon Slayer está compuesto por 12 arcos argumentales</p>
                        </div>
                    </div>

                    <div class="divsubtitle-article">
                        <p>Acceda a los datos de los episodios, incluidas las fechas de emisión, sinopsis, información de la temporada e imágenes de los episodios.</p>
                    </div>
                </article>

                <!-- Articulo 3 -->
                <article class="article-grid">
                    <div class="divtitle-article">
                        <div class="icono">
                            <i class="fa-solid fa-file"></i>
                        </div>
                        <div class="subtitle-article">
                            <h3>Episodios(anime)</h3>
                        </div>
                        <div class="p-article">
                            <p>El anime de Demon Slayer tiene un total de 4 temporadas y dos peliculas.</p>
                        </div>
                    </div>

                    <div class="divsubtitle-article">
                        <p>Explore lugares emblemáticos de Springfield, incluidas casas, negocios y lugares emblemáticos.</p>
                    </div>
                </article>
            </div>
        </section>




    </main>
</body>
</html>