<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/terminal.css">
</head>
<body>
    <div class="browser-search-bar">
        <div class="search-icon">🔍</div>
        <input type="text" placeholder="Buscar o escribir una URL" class="search-input">
        <div class="search-actions">
            <button class="search-btn">×</button>
            <button class="search-btn">↻</button>
        </div>
    </div>
</body>
</html>